<h2 id="" class="mainText text-center">
    Logged in<span class="glyphicon glyphicon-thumbs-up">
</h2>


<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1" class="row">
<div class="ws_images"><ul>
        <li><img src="images/destinations/bookmyflight.jpg" alt="BookMyFlight" title="BookMyFlight" id="wows1_0"/></li>
        <li><img src="images/destinations/venice.jpg" alt="Venice" title="Venice" id="wows1_1"/></li>
        <li><img src="images/destinations/colosseum.jpg" alt="Colosseum" title="Colosseum" id="wows1_2"/></li>
        <li><img src="images/destinations/eiffel_tower.jpg" alt="Eiffel Tower" title="Eiffel Tower" id="wows1_3"/></li>
        <li><img src="images/destinations/machu_picchu.jpg" alt="Machu Picchu" title="Machu Picchu" id="wows1_4"/></li>
        <li><img src="images/destinations/opera_house.jpg" alt="Opera House" title="Opera House" id="wows1_5"/></li>
        <li><img src="images/destinations/pyramids.jpg" alt="Pyramids" title="Pyramids" id="wows1_6"/></li>
        <li><img src="images/destinations/statue_of_liberty.jpg" alt="Statue of Liberty" title="Statue of Liberty" id="wows1_7"/></li>
        <li><img src="images/destinations/taj_mahal.jpg" alt="Taj Mahal" title="Taj Mahal" id="wows1_8"/></li>
        <li><a href="http://wowslider.com"><img src="images/destinations/goa.jpg" alt="bootstrap carousel" title="Goa" id="wows1_9"/></a></li>
        <li><img src="images/destinations/hong_kong.jpg" alt="Hong Kong" title="Hong Kong" id="wows1_10"/></li>
    </ul></div>
    <div class="ws_bullets"><div>
        <a href="#" title="BookMyFlight"><span><img src="images/tooltips/bookmyflight.jpg" alt="BookMyFlight"/>1</span></a>
        <a href="#" title="Venice"><span><img src="images/tooltips/venice.jpg" alt="Venice"/>2</span></a>
        <a href="#" title="Colosseum"><span><img src="images/tooltips/colosseum.jpg" alt="Colosseum"/>3</span></a>
        <a href="#" title="Eiffel Tower"><span><img src="images/tooltips/eiffel_tower.jpg" alt="Eiffel Tower"/>4</span></a>
        <a href="#" title="Machu Picchu"><span><img src="images/tooltips/machu_picchu.jpg" alt="Machu Picchu"/>5</span></a>
        <a href="#" title="Opera House"><span><img src="images/tooltips/opera_house.jpg" alt="Opera House"/>6</span></a>
        <a href="#" title="Pyramids"><span><img src="images/tooltips/pyramids.jpg" alt="Pyramids"/>7</span></a>
        <a href="#" title="Statue of Liberty"><span><img src="images/tooltips/statue_of_liberty.jpg" alt="Statue of Liberty"/>8</span></a>
        <a href="#" title="Taj Mahal"><span><img src="images/tooltips/taj_mahal.jpg" alt="Taj Mahal"/>9</span></a>
        <a href="#" title="Goa"><span><img src="images/tooltips/goa.jpg" alt="Goa"/>10</span></a>
        <a href="#" title="Hong Kong"><span><img src="images/tooltips/hong_kong.jpg" alt="Hong Kong"/>11</span></a>
    </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">http://wowslider.com/</a> by WOWSlider.com v8.7</div>
<div class="ws_shadow"></div>
</div> 
<!-- End WOWSlider.com BODY <section></section>ion -->



<div class="container">
	<p class="btn"><a href="#/login">Logout <span class="glyphicon glyphicon-log-out"></a></p>
</div>

<script>
$(document).ready(function(){
	$('.modal-backdrop').remove();
});
</script>
<link rel="stylesheet" type="text/css" href="css/wow/style.css" />
<script type="text/javascript" src="js/wow/wowslider.js"></script>
<script type="text/javascript" src="js/wow/script.js"></script>