<div class="col-sm-6">
	<form class="form-horizontal" ng-submit="searchAllFlights()" role="form">
	  <div class="form-group"> 
	    <div class="col-sm-offset-2 col-sm-8">
	      <button type="submit" class="btn btn-default">Show All Flights</button>
	    </div>
	  </div>
	</form>
	<div class="Flights">
		<div ng-repeat="flight in flights" class="panel panel-primary">
			<div class="panel-heading">
				<label class="control-label col-sm-4">Airline:</label>
				<div class="col-sm-8">
					{{flight.airline_name}}
				</div>
			</div>
			<div class="panel-body">
				<label class="control-label col-sm-4">From:</label>
				<div class="col-sm-8"> 
					{{flight.from_location}}
				</div>
			</div>
			<div class="panel-body"> 
				<label class="control-label col-sm-4">To:</label>
				<div class="col-sm-8">
					{{flight.to_location}}
				</div>
			</div>
			<div class="panel-body"> 
				<label class="control-label col-sm-4">Departure Time:</label>
				<div class="col-sm-8">
					{{flight.departure_time}}
				</div>
			</div>
			<div class="panel-body"> 
				<label class="control-label col-sm-4">Arrival Time:</label>
				<div class="col-sm-8">
					{{flight.arrival_time}}
				</div>
			</div>
			<div class="panel-body"> 
				<label class="control-label col-sm-4">Duration:</label>
				<div class="col-sm-8">
					{{flight.duration}}
				</div>
			</div>
			<div class="panel-body"> 
				<label class="control-label col-sm-4">Price:</label>
				<div class="col-sm-8">
					{{flight.price}}
				</div>
			</div>
		</div>
	</div>
<span class="nof" ng-show="flights.length == 0">No flights found.</span>
<span class="nof" ng-show="flights.length">Total {{flights.length}} flights.</span>
</div>

<!-- Add flights -->
<div class="col-sm-6">
	<form class="form-horizontal" id="flightAddForm" ng-submit="addFlight()" role="form">
  	<div class="form-group">
	    <label class="control-label col-sm-4">Airline:</label>
	    <div class="col-sm-6">
	    <select ng-model="airline_name" class="form-control" required>
		    <option value="">Please select</option>
		    <optgroup label="Select your desired departure">
				<option value="AirIndia">AirIndia</option>
				<option value="SpiceJet">SpiceJet</option>
				<option value="GoIndigo">GoIndigo</option>
				<option value="Kingfisher">Kingfisher</option>
				<option value="JetAirways">JetAirways</option>
			</optgroup>
		</select>
	    </div>
  	</div>
  	<div class="form-group">
	    <label class="control-label col-sm-4">From:</label>
	    <div class="col-sm-6"> 
		    <select ng-model="from_location" class="from_location form-control" required>
		    <option value="">Please select</option>
		    <optgroup label="Select your desired departure">
				<option value="Delhi">Delhi</option>
				<option value="Mumbai">Mumbai</option>
				<option value="Jaipur">Jaipur</option>
				<option value="Kolkata">Kolkata</option>
				<option value="Nagpur">Nagpur</option>
				<option value="Surat">Surat</option>
				<option value="Srinagar">Srinagar</option>
				<option value="Amritsar">Amritsar</option>
				<option value="Goa">Goa</option>
				<option value="Bangalore">Bangalore</option>
				<option value="Hyderabad">Hyderabad</option>
				<option value="Chennai">Chennai</option>
			</optgroup>
			</select>
	    </div>
    </div>
  	<div class="form-group">
	    <label class="control-label col-sm-4">To:</label>
	    <div class="col-sm-6"> 
			<select ng-model="to_location" class="to_location form-control" required>
		    <option value="">Please select</option>
		    <optgroup label="Select your desired arrival">
				<option value="Delhi">Delhi</option>
				<option value="Mumbai">Mumbai</option>
				<option value="Jaipur">Jaipur</option>
				<option value="Kolkata">Kolkata</option>
				<option value="Nagpur">Nagpur</option>
				<option value="Surat">Surat</option>
				<option value="Srinagar">Srinagar</option>
				<option value="Amritsar">Amritsar</option>
				<option value="Goa">Goa</option>
				<option value="Bangalore">Bangalore</option>
				<option value="Hyderabad">Hyderabad</option>
				<option value="Chennai">Chennai</option>
			</optgroup>
			</select>
	    </div>
    </div>
  	<div class="form-group">
	    <label class="control-label col-sm-4">Departure:</label>
    	<div class='input-group date col-sm-6' id='datetimepicker_departure'>
                    <input ng-model="departure_time" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    </div>
  	<div class="form-group">
	    <label class="control-label col-sm-4">Arrival:</label>
    	<div class='input-group date col-sm-6' id='datetimepicker_arrival'>
                    <input ng-model="arrival_time" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    </div>
    <div class="form-group">
	    <label class="control-label col-sm-4">Price:</label>
	    <div class="col-sm-6">
	    <input type="text" ng-model="price" class="form-control" required>
	    </div>
  	</div>
 	<div class="form-group"> 
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Add Flight</button>
	    </div>
	</div>
	 	<div class="form-group"> 
	    <div class="col-sm-offset-2 col-sm-10" id= "flight_msg"style="color:red;">
	      {{flight_msg}}
	    </div>
	</div>
	</form>
</div>

<link rel="stylesheet" href="css/select2.min.css" />
<link rel="stylesheet" href="css/datetimepicker.css" />
<script src="js/select2.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/datetimepicker.js"></script>

<script type="text/javascript">
    $( "#flightAddForm" ).submit(function( event ) {
        $('#flight_msg').fadeIn("fast");
        $('#flight_msg').fadeOut(3000);
    });

 $(function () {
                $('#datetimepicker_departure').datetimepicker({
                	format:("YYYY-MM-DD+HH:mm "),
                	minDate: moment( ).subtract( "seconds", 1 ),
                	toolbarPlacement: 'top',
                	widgetPositioning: {vertical:'bottom'},

                });
            });
  $(function () {
                $('#datetimepicker_arrival').datetimepicker({
                	format:("YYYY-MM-DD+HH:mm "),
                	minDate: moment( ).subtract( "seconds", 1 ),
                	toolbarPlacement: 'top',
                	widgetPositioning: {vertical:'bottom'},
                	
                });
            });
</script>
